{% extends "base.html" %}
{% block content %}
<div class="col-md-10">
  {% for b in blocks %}
    <div class="panel panel-default">

      <div class="panel-heading">
        <a href="{% url 'article_list' b.id %}" style="font-size:20px">{{ b.name }}</a>
        <span class="pull-right">{{ b.manager.username }}</span>
      </div>
      <div class="panel-body">
        {{ b.desc }}
      </div>
    </div>
  {% endfor %}
</div>
<div class="col-md-2">
    {% if user.is_authenticated %}
          <p>{{ user.username }}.欢迎来到论坛.</p>
          <a href="{% url 'password_change' %}">修改密码</a>

            <a href="{% url 'password_reset' %}">密码重置</a>
          <a href="{% url 'logout_then_login' %}">登出</a>
    {% else %}
          <p>匿名用户. 请<a href="{% url 'login' %}">登录</a>.</p>

     <p><a href="{% url 'usercenter_register' %}">注册</a>.</p>
    {% endif %}

</div>
{% endblock %}



